container_commands:
  01writable_dirs:
    command: |
        mkdir /var/app/current/storage/app/uploads
        mkdir /var/app/current/storage/app/uploads/compressedData
        chmod -R 777 /var/app/current/storage

files:
  "/etc/php.d/project.ini" :
    mode: "000644"
    owner: root
    group: root
    content: |
      upload_max_filesize = 20M
      post_max_size = 20M